body{
    background-color:#f6ac24;
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
}

/*** Rollins Header ***/
#head_container {
    padding: 0;
    margin: 0;
}
#header{
    color:white;
    font-family: 'Open Sans', sans-serif;
    display: inline;
    padding-left:5px;
}
#rollins_logo {
    width: 100%;
    display: inline;
}
.jumbotron{
    background-color:#1b2e84;
    padding: 20px;
}
#subheader{
    color:#fff;
    font-family: 'Open Sans', sans-serif;
    padding-left: 8px;
}


/*** Body Content ***/
.nav{
    width:100%;
    padding: 0;
    margin: 0 auto;
    text-align: center;
}
.nav-link{
    color: white;
}
.sidebar-sticky{
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}


#body_content {
    height: 100vh;
    padding-top: 0;
}
#sidebar_section {
  background: #1b2e84;
  height: 100vh;
}
#content_section {
  background: #fff;
  color: #000;
  overflow: scroll;
  height: 100vh;
}

/*** Footer ***/
#footer_container {
    padding: 15px;
}

/*** Catalog Table **/
#catalog_browse{
    height: 100%;
}